- builder:
    name: kind
    builders:
      - shell: |
          set +x
          cat << EOF > kind.yaml
          kind: Cluster
          apiVersion: kind.x-k8s.io/v1alpha4
          networking:
            apiServerAddress: {{ ansible_default_ipv4.address }}
          nodes:
            - role: control-plane
              image: kindest/node:v1.25.3
            - role: worker
              image: kindest/node:v1.25.3
            - role: worker
              image: kindest/node:v1.25.3
          EOF
          curl -Lo kind https://kind.sigs.k8s.io/dl/v0.17.0/kind-linux-amd64
          chmod +x kind
          ./kind delete cluster --name jenkins
          ./kind create cluster --config kind.yaml --kubeconfig config --name jenkins

- job-template:
    name: 'kind'
    parameters:
      - label:
          name: 'node'
          default: 'xtesting'
    builders:
      - kind
    publishers:
      - archive:
          artifacts: 'config'
      - trigger:
          project: 'functest-kubernetes-v1.25-daily'

- project:
    name: 'kind'
    jobs:
      - 'kind'
