---
- name: Installing python-apt
  become: true
  shell:
    cmd: apt-get update && apt-get install python-apt -y
    warn: false  # the apt module depends on python-apt
  changed_when: true
  when:
    - ansible_python.version.major==2
- name: Installing python3-apt
  become: true
  shell:
    cmd: apt-get update && apt-get install python3-apt -y
    warn: false  # the apt module depends on python-apt
  changed_when: true
  when:
    - ansible_python.version.major==3
- name: Installing python-pip
  become: true
  apt:
    name: python-pip
    update_cache: true
  when:
    - not lookup('env','VIRTUAL_ENV')
    - ansible_python.version.major==2
- name: Installing python3-pip
  become: true
  apt:
    name: python3-pip
    update_cache: true
  when:
    - not lookup('env','VIRTUAL_ENV')
    - ansible_python.version.major==3
- name: Gathering the package facts
  package_facts:
    manager: auto
- name: Installing docker.io
  become: true
  apt:
    name: docker.io
    update_cache: true
  when:
    - ansible_lsb.id!='Raspbian'
    - not (ansible_distribution == 'Debian' and
        ansible_distribution_major_version|int <= 9)
    - not 'docker-ce' in ansible_facts.packages
- name: Installing curl
  become: true
  apt:
    name: curl
    update_cache: true
  when:
    - ansible_lsb.id == ' Raspbian' or (
        ansible_distribution == 'Debian' and
        ansible_distribution_major_version|int < 10)
    - not (ansible_distribution == 'Debian' and
        ansible_distribution_version == 'testing')
    - not 'docker-ce' in ansible_facts.packages
- name: Installing docker
  become: true
  shell: curl -sSL https://get.docker.com | sh
  when:
    - ansible_lsb.id == ' Raspbian' or (
        ansible_distribution == 'Debian' and
        ansible_distribution_major_version|int < 10)
    - not (ansible_distribution == 'Debian' and
        ansible_distribution_version == 'testing')
    - not 'docker-ce' in ansible_facts.packages
- name: Installing python-docker
  become: true
  apt:
    name: python-docker
    update_cache: true
  when:
    - ansible_python.version.major==2
- name: Installing python3-docker
  become: true
  apt:
    name: python3-docker
    update_cache: true
  when:
    - ansible_python.version.major==3
- name: Installing python-pbr, python-fasteners, python-multi-key-dict,
    python-stevedore, python-yaml and python-jinja2
  become: true
  apt:
    name:
      - python-pbr
      - python-fasteners
      - python-multi-key-dict
      - python-stevedore
      - python-yaml
      - python-jinja2
    update_cache: true
  when:
    - ansible_python.version.major==2
    - jenkins_deploy or jenkins_configure
- name: Installing python3-importlib-metadata, python3-pbr, python3-fasteners,
    python3-multi-key-dict, python3-stevedore and python3-yaml
  become: true
  apt:
    name:
      - python3-importlib-metadata
      - python3-pbr
      - python3-fasteners
      - python3-multi-key-dict
      - python3-stevedore
      - python3-yaml
    update_cache: true
  when:
    - ansible_python.version.major==3
    - jenkins_deploy or jenkins_configure
- name: Installing python-jenkins and jenkins-job-builder via pip
  become: "{{ not lookup('env','VIRTUAL_ENV') }}"
  pip:
    name:
      - python-jenkins<=1.7.0
      - jenkins-job-builder<=3.8.0
    extra_args: --no-deps
  when:
    - jenkins_deploy or jenkins_configure
- name: Installing python-jmespath
  become: true
  apt:
    name: python-jmespath
    update_cache: true
  when:
    - gitlab_deploy or gitlab_configure
    - ansible_python.version.major==2
- name: Installing python3-jmespath
  become: true
  apt:
    name: python3-jmespath
    update_cache: true
  when:
    - gitlab_deploy or gitlab_configure
    - ansible_python.version.major==3
- name: Installing git
  become: true
  apt:
    name: git
    update_cache: true
  when:
    - gitlab_create_jobs
- name: Installing python-psycopg2
  become: true
  apt:
    name: python-psycopg2
    update_cache: true
  when:
    - cachet_deploy
    - ansible_python.version.major==2
- name: Installing python3-psycopg2
  become: true
  apt:
    name: python3-psycopg2
    update_cache: true
  when:
    - cachet_deploy
    - ansible_python.version.major==3
- name: Installing python-dateutil
  become: true
  apt:
    name:
      - python-dateutil
    update_cache: true
  when:
    - influxdb_deploy
    - ansible_python.version.major==2
    - ansible_distribution == 'Debian' and
        ansible_distribution_major_version|int <= 9
- name: Installing python3-dateutil
  become: true
  apt:
    name:
      - python3-dateutil
    update_cache: true
  when:
    - influxdb_deploy
    - ansible_python.version.major==3
    - ansible_distribution == 'Debian' and
        ansible_distribution_major_version|int <= 9
- name: Installing pytz, msgpack and influxdb via pip
  become: "{{ not lookup('env','VIRTUAL_ENV') }}"
  pip:
    name:
      - msgpack<=1.0.2
      - pytz<=2021.1
      - influxdb<=5.3.1
    extra_args: --no-deps
  when:
    - influxdb_deploy
    - ansible_distribution == 'Debian' and
        ansible_distribution_major_version|int <= 9
- name: Installing python-influxdb
  become: true
  apt:
    name:
      - python-influxdb
    update_cache: true
  when:
    - influxdb_deploy
    - ansible_python.version.major==2
    - not (ansible_distribution == 'Debian' and
        ansible_distribution_major_version|int <= 9)
- name: Installing python3-influxdb
  become: true
  apt:
    name: python3-influxdb
    update_cache: true
  when:
    - influxdb_deploy
    - ansible_python.version.major==3
    - not (ansible_distribution == 'Debian' and
        ansible_distribution_major_version|int <= 9)
- name: Installing kubernetes via pip
  become: "{{ not lookup('env','VIRTUAL_ENV') }}"
  pip:
    name:
      - kubernetes<=12.0.1
    extra_args: --no-deps
  when:
    - use_kubernetes
    - ansible_python.version.major==2
    - not (ansible_distribution == 'Debian' and
        ansible_distribution_major_version|int >= 10)
    - ansible_distribution !='Ubuntu'
- name: Installing python-kubernetes
  become: true
  apt:
    name:
      - python-kubernetes
    update_cache: true
  when:
    - use_kubernetes
    - ansible_python.version.major==2
    - not (ansible_distribution == 'Debian' and
        ansible_distribution_major_version|int <= 9)
- name: Installing python3-kubernetes
  become: true
  apt:
    name:
      - python3-kubernetes
    update_cache: true
  when:
    - use_kubernetes
    - ansible_python.version.major==3
    - not (ansible_distribution == 'Debian' and
        ansible_distribution_major_version|int <= 9)
- name: Installing python-certifi, python-cachetools, python-oauthlib and
    python-requests-oauthlib
  become: true
  apt:
    name:
      - python-certifi
      - python-cachetools
      - python-oauthlib
      - python-requests-oauthlib
    update_cache: true
  when:
    - use_kubernetes
    - ansible_python.version.major==2
- name: Installing python3-certifi, python3-cachetools, python3-oauthlib and
    python3-requests-oauthlib
  become: true
  apt:
    name:
      - python3-certifi
      - python3-cachetools
      - python3-oauthlib
      - python3-requests-oauthlib
    update_cache: true
  when:
    - use_kubernetes
    - ansible_python.version.major==3
- name: Installing google.auth via pip
  become: "{{ not lookup('env','VIRTUAL_ENV') }}"
  pip:
    name:
      - google.auth<=1.27.0
    extra_args: --no-deps
  when:
    - use_kubernetes
    - ansible_python.version.major==2
    - ansible_distribution == 'Debian' and
        ansible_distribution_major_version|int <= 9
- name: Installing python-google-auth
  become: true
  apt:
    name:
      - python-google-auth
    update_cache: true
  when:
    - use_kubernetes
    - ansible_python.version.major==2
    - not (ansible_distribution == 'Debian' and
        ansible_distribution_major_version|int <= 9)
- name: Installing python3-google-auth
  become: true
  apt:
    name:
      - python3-google-auth
    update_cache: true
  when:
    - use_kubernetes
    - ansible_python.version.major==3
    - not (ansible_distribution == 'Debian' and
        ansible_distribution_major_version|int <= 9)
- name: Installing pyhelm and openshift via pip
  become: "{{ not lookup('env','VIRTUAL_ENV') }}"
  pip:
    name:
      - pyhelm<=2.14.5
      - openshift<=0.12.0
    extra_args: --no-deps
  when:
    - use_kubernetes
