---
- name: Ensuring docker service is running
  become: true
  systemd:
    name: docker
    daemon_reload: true
    state: started
- name: Adding ansible_user to docker group
  become: true
  user:
    name: "{{ ansible_user | default(lookup('env', 'USER')) }}"
    groups:
      - docker
    append: true
- name: Resetting connection
  meta: reset_connection
- name: Creating /etc/systemd/system/docker.service.d
  become: true
  file:
    path: /etc/systemd/system/docker.service.d
    state: directory
    mode: '0755'
  when:
    - "'http_proxy' in ansible_env or 'https_proxy' in ansible_env"
- name: Creating /etc/systemd/system/docker.service.d/http-proxy.conf
  become: true
  template:
    src: http-proxy.conf.j2
    dest: /etc/systemd/system/docker.service.d/http-proxy.conf
    mode: '0644'
    force: no  # avoid erasing user config and restarting docker too much
  notify:
    - Restarting Docker
  when:
    - "'http_proxy' in ansible_env or 'https_proxy' in ansible_env"
- name: Creating /etc/docker/daemon.json
  become: true
  template:
    src: daemon.json.j2
    dest: '/etc/docker/daemon.json'
    mode: '0644'
    force: no  # avoid erasing user config and restarting docker too much
  notify:
    - Restarting Docker
  when:
    - registry_deploy
- name: Flushing handlers
  meta: flush_handlers
