---
- name: Creating {{ prefix }}/elasticsearch
  become: true
  file:
    path: '{{ prefix }}/elasticsearch'
    state: directory
    mode: '0777'
  when:
    - elasticsearch_deploy
    - not use_kubernetes
- name: Starting Elasticsearch
  become: "{{ ansible_connection is defined }}"
  community.docker.docker_container:
    name: elasticsearch
    image: docker.elastic.co/elasticsearch/elasticsearch-oss:7.10.2
    pull: '{{ docker_pull }}'
    recreate: '{{ docker_recreate }}'
    restart_policy: '{{ docker_restart_policy }}'
    env:
      discovery.type: single-node
    volumes:
      - '{{ prefix }}/elasticsearch:/usr/share/elasticsearch/data'
    published_ports:
      - '{{ elasticsearch_port }}:9200'
    container_default_behavior: no_defaults
  notify:
    - Waiting Elasticsearch
  when:
    - elasticsearch_deploy
    - not use_kubernetes
- name: Adding Elasticsearch chart repository
  community.kubernetes.helm_repository:
    name: elastic
    repo_url: https://helm.elastic.co
  when:
    - elasticsearch_deploy
    - use_kubernetes
- name: Installing Elasticsearch helm chart
  community.kubernetes.helm:
    name: elasticsearch
    chart_ref: elastic/elasticsearch
    chart_version: 7.10.2
    release_namespace: default
    values:
      image: docker.elastic.co/elasticsearch/elasticsearch-oss
      imageTag: 7.10.2
      replicas: 1
      volumeClaimTemplate:
        storageClassName: standard
      service:
        type: NodePort
        nodePort: '{{ elasticsearch_port }}'
    wait: true
  notify:
    - Waiting Elasticsearch
  when:
    - elasticsearch_deploy
    - use_kubernetes
- name: Flushing handlers
  meta: flush_handlers
