---
- name: Creating {{ prefix }}/fluentd
  become: true
  file:
    path: '{{ prefix }}/fluentd'
    state: directory
    mode: '0777'
  when:
    - fluentd_deploy
- name: Starting Fluentd
  community.general.docker_container:
    name: fluentd
    image: fluent/fluentd:v1.11-1
    pull: '{{ docker_pull }}'
    recreate: '{{ docker_recreate }}'
    restart_policy: '{{ docker_restart_policy }}'
    volumes:
      - '{{ prefix }}/fluentd:/fluentd/log'
    published_ports:
      - '{{ fluentd_port }}:24224'
      - '{{ fluentd_port }}:24224/udp'
  notify:
    - Waiting Fluentd
  when:
    - fluentd_deploy
