---
- name: Creating {{ prefix }}/grafana
  become: true
  file:
    path: '{{ prefix }}/grafana'
    state: directory
    mode: '0777'
  when:
    - grafana_deploy
    - not use_kubernetes
- name: Starting Grafana
  become: "{{ ansible_connection is defined }}"
  community.docker.docker_container:
    name: grafana
    image: grafana/grafana
    pull: '{{ docker_pull }}'
    recreate: '{{ docker_recreate }}'
    restart_policy: '{{ docker_restart_policy }}'
    published_ports:
      - '{{ grafana_port }}:3000'
    volumes:
      - '{{ prefix }}/grafana:/var/lib/grafana'
    container_default_behavior: no_defaults
  notify:
    - Waiting Grafana
  when:
    - grafana_deploy
    - not use_kubernetes
- name: Adding Grafana chart repository
  community.kubernetes.helm_repository:
    name: grafana
    repo_url: https://grafana.github.io/helm-charts
  when:
    - grafana_deploy
    - use_kubernetes
- name: Installing Grafana helm chart
  community.kubernetes.helm:
    name: grafana
    chart_ref: grafana/grafana
    chart_version: 6.20.1
    release_namespace: default
    values:
      service:
        type: NodePort
        nodePort: '{{ grafana_port }}'
    wait: true
  notify:
    - Waiting Grafana
  when:
    - grafana_deploy
    - use_kubernetes
- name: Flushing handlers
  meta: flush_handlers
- name: Getting Grafana admin password
  shell: |
    kubectl get secret --namespace default grafana \
      -o jsonpath="{.data.admin-password}" | base64 --decode
  register: kubectl_response
  when:
    - grafana_deploy
    - use_kubernetes
- name: Setting grafana_password
  set_fact:
    grafana_password: '{{ kubectl_response.stdout }}'
  when:
    - grafana_deploy
    - use_kubernetes
- name: Adding InfluxDB data source in Grafana
  community.grafana.grafana_datasource:
    name: 'influxdb'
    grafana_url: 'http://{{ ipaddress }}:{{ grafana_port }}'
    ds_type: 'influxdb'
    ds_url: '{{ influxdb_url }}'
    database: '{{ project }}'
    url_username: '{{ grafana_username }}'
    url_password: '{{ grafana_password }}'
    basic_auth_user: '{{ influxdb_username }}'
    basic_auth_password: '{{ influxdb_password }}'
  when:
    - grafana_deploy
