---
- name: Installing jenkins-job-builder
  become: "{{ not lookup('env','VIRTUAL_ENV') }}"
  pip:
    name: jenkins-job-builder
  register: my_result
  until: my_result is succeeded
  retries: 5
  delay: 10
  when:
    - jenkins_deploy or jenkins_configure
  environment:
    http_proxy: "{{ http_proxy }}"
    https_proxy: "{{ https_proxy }}"
- name: Starting Jenkins
  become: true
  docker_container:
    name: jenkins
    image: ollivier/xtesting-jenkins
    # pull: '{{ docker_pull }}'
    recreate: '{{ docker_recreate }}'
    restart_policy: '{{ docker_restart_policy }}'
    published_ports:
      - '{{ jenkins_port }}:8080'
      - '{{ jenkins_jnlp_port }}:50000'
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - '{{ prefix }}/jenkins:/var/jenkins_home'
  register: docker_response
  environment:
    http_proxy: "{{ http_proxy }}"
    https_proxy: "{{ https_proxy }}"
  when:
    - jenkins_deploy
- name: Waiting Jenkins
  pause:
    seconds: '{{ jenkins_wait }}'
  when:
    - docker_response.changed
- name: Creating jenkins_jobs.ini
  template:
    src: jenkins_jobs.ini.j2
    dest: '{{ tmp_dir }}/jenkins_jobs.ini'
    mode: '0644'
  when:
    - jenkins_configure
- name: Creating {{ project }}.yaml
  template:
    src: run.yaml.j2
    dest: '{{ tmp_dir }}/{{ project }}.yaml'
    mode: '0644'
  when:
    - jenkins_create_jobs
- name: Loading Jenkins jobs
  command: |
    jenkins-jobs --conf \
      {{ tmp_dir }}/jenkins_jobs.ini update {{ tmp_dir }}/{{ project }}.yaml
  register: exit_code
  changed_when: exit_code.rc == 0
  when:
    - jenkins_configure
    - jenkins_create_jobs
