---
- include_tasks: requirements.yml
  when:
    - deploy_base_infra
- include_tasks: docker.yml
- include_tasks: kubernetes.yml
- include_tasks: selinux.yml
- include_tasks: jenkins.yml
- include_tasks: gitlab.yml
- include_tasks: mongodb.yml
- include_tasks: registry.yml
- include_tasks: testapi.yml
- include_tasks: minio.yml
- include_tasks: radosgw.yml
- include_tasks: postgresql.yml
- include_tasks: cachet.yml
- include_tasks: influxdb.yml
- include_tasks: grafana.yml
- include_tasks: elasticsearch.yml
- include_tasks: kibana.yml
- include_tasks: fluentd.yml
