---
- name: Installing jenkins-job-builder
  pip:
    name: jenkins-job-builder
    virtualenv: /tmp/venv
    virtualenv_python: python2.7
    virtualenv_site_packages: false
  register: my_result
  until: my_result is succeeded
  retries: 5
  delay: 10
- name: Changing state of selinux
  selinux:
    policy: targeted
    state: permissive
  become: true
  when:
    - ansible_os_family == "RedHat"
- name: Starting Minio
  become: true
  docker_container:
    name: minio
    image: minio/minio
    pull: true
    recreate: true
    command: server /data
    env:
      MINIO_ACCESS_KEY: '{{ project }}'
      MINIO_SECRET_KEY: '{{ project }}'
    published_ports:
      - '{{ minio_port }}:9000'
    volumes:
      - /data/minio:/data
- name: Starting Jenkins
  become: true
  docker_container:
    name: jenkins
    image: ollivier/jenkins
    pull: true
    recreate: true
    published_ports:
      - '{{ jenkins_port }}:8080'
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /data/jenkins:/var/jenkins_home
    links:
      - minio:minio
- name: Configuring Minio
  become: true
  command: docker exec jenkins {{ item }}
  with_items:
    - 'mc config host add minio http://minio:9000 {{ project }} {{ project }}'
    - 'mc mb -p minio/{{ project }}'
  register: exit_code
  changed_when: exit_code.rc == 0
- name: Waiting Jenkins
  pause:
    seconds: 30
- name: Creating jenkins_jobs.ini
  template:
    src: jenkins_jobs.ini.j2
    dest: /tmp/jenkins_jobs.ini
- name: Creating {{ project }}.yaml
  template:
    src: run.yaml.j2
    dest: /tmp/{{ project }}.yaml
- name: Loading Jenkins jobs
  command: |
    /tmp/venv/bin/jenkins-jobs --conf \
      /tmp/jenkins_jobs.ini update /tmp/{{ project }}.yaml
  register: exit_code
  changed_when: exit_code.rc == 0
- name: Starting S3www
  become: true
  docker_container:
    name: s3www-{{ project }}
    image: ollivier/s3www
    pull: true
    recreate: true
    published_ports:
      - '{{ s3www_port }}:8080'
    env:
      ENDPOINT: http://minio:9000
      ACCESSKEY: '{{ project }}'
      SECRETKEY: '{{ project }}'
      BUCKET: '{{ project }}'
    links:
      - minio:minio
- name: Starting Docker Registry
  become: true
  docker_container:
    name: registry
    image: registry:2
    pull: true
    recreate: true
    published_ports:
      - '{{ registry_port }}:5000'
    volumes:
      - /data/registry:/var/lib/registry
- name: Starting MongoDB
  become: true
  docker_container:
    name: mongo
    image: mongo
    pull: true
    recreate: true
    volumes:
      - /data/mongodb:/data/db
- name: Starting TestAPI
  become: true
  docker_container:
    name: testapi
    image: opnfv/testapi
    pull: true
    recreate: true
    published_ports:
      - '{{ testapi_port }}:8000'
    env:
      base_url: 'http://127.0.0.1:{{ testapi_port }}'
      mongodb_url: mongodb://mongo:27017/
      auth: false
    links:
      - mongo:mongo
- name: Waiting TestAPI
  pause:
    seconds: 10
- name: Checking if pod is already registered
  uri:
    url: 'http://127.0.0.1:{{ testapi_port }}/api/v1/pods/{{ project }}'
    status_code:
      - 200
      - 404
  register: http_response
- name: Registering the pod
  uri:
    url: 'http://127.0.0.1:{{ testapi_port }}/api/v1/pods'
    method: POST
    body: {"name":"{{ project }}"}
    status_code: 200
    body_format: json
  when: http_response.status != 200
- name: Checking if pod is already registered
  uri:
    url: 'http://127.0.0.1:{{ testapi_port }}/api/v1/projects/{{ project }}'
    status_code:
      - 200
      - 404
  register: http_response
- name: Registering the project
  uri:
    url: 'http://127.0.0.1:{{ testapi_port }}/api/v1/projects'
    method: POST
    body: {"name":"{{ project }}"}
    status_code: 200
    body_format: json
  when: http_response.status != 200
- name: Checking if testcase is already registered
  uri:
    url: 'http://127.0.0.1:{{
      testapi_port }}/api/v1/projects/{{ project }}/cases/{{ item.1 }}'
    status_code:
      - 200
      - 404
  with_subelements:
    - '{{ suites }}'
    - 'tests'
  register: http_response
- name: Registering the testcases
  uri:
    url: 'http://127.0.0.1:{{
      testapi_port }}/api/v1/projects/{{ project }}/cases'
    method: POST
    body: {"name":"{{ item.item.1 }}"}
    status_code: 200
    body_format: json
  when: item.status != 200
  with_items:
    - '{{ http_response.results }}'
