---
- name: Starting PostgreSQL
  become: "{{ ansible_connection is defined }}"
  community.docker.docker_container:
    name: postgres
    image: postgres:alpine
    pull: '{{ docker_pull }}'
    recreate: '{{ docker_recreate }}'
    restart_policy: '{{ docker_restart_policy }}'
    published_ports:
      - '{{ postgres_port }}:5432'
    volumes:
      - '{{ prefix }}/postgres:/var/lib/postgresql/data'
    env:
      POSTGRES_USER: '{{ postgres_username }}'
      POSTGRES_PASSWORD: '{{ postgres_password }}'
      POSTGRES_DB: '{{ postgres_database }}'
    container_default_behavior: no_defaults
  notify:
    - Waiting PostgreSQL
  when:
    - postgres_deploy
    - not use_kubernetes
- name: Adding PostgreSQL chart repository
  kubernetes.core.helm_repository:
    name: bitnami
    repo_url: https://charts.bitnami.com/bitnami
  when:
    - postgres_deploy
    - use_kubernetes
- name: Installing PostgreSQL helm chart
  kubernetes.core.helm:
    name: postgres
    chart_ref: bitnami/postgresql
    release_namespace: default
    values:
      postgresqlUsername: '{{ postgres_username }}'
      postgresqlPassword: '{{ postgres_password }}'
      postgresqlDatabase: '{{ postgres_database }}'
      service:
        type: NodePort
        nodePort: '{{ postgres_port }}'
    wait: true
  when:
    - postgres_deploy
    - use_kubernetes
- name: Flushing handlers
  meta: flush_handlers
