---
- name: Starting Docker Registry
  become: "{{ ansible_connection is defined }}"
  community.docker.docker_container:
    name: registry
    image: '{{ registry_docker_image }}:{{ registry_docker_tag }}'
    pull: '{{ docker_pull }}'
    recreate: '{{ docker_recreate }}'
    restart_policy: '{{ docker_restart_policy }}'
    published_ports:
      - '{{ registry_port }}:5000'
    volumes:
      - '{{ prefix }}/registry:/var/lib/registry'
    container_default_behavior: no_defaults
  when:
    - registry_deploy
