---
- name: Starting TestAPI
  become: true
  docker_container:
    name: testapi
    image: opnfv/testapi
    pull: '{{ docker_pull }}'
    recreate: '{{ docker_recreate }}'
    restart_policy: '{{ docker_restart_policy }}'
    published_ports:
      - '{{ testapi_port }}:8000'
    env:
      base_url: '{{ testapi_base_url }}'
      mongodb_url: '{{ mongo_url }}'
      auth: 'false'
  notify:
    - Waiting TestAPI
  when:
    - testapi_deploy
- name: Flushing handlers
  meta: flush_handlers
- name: Checking if pod is already registered
  uri:
    url: '{{ testapi_url }}/pods/{{ project }}'
    status_code:
      - 200
      - 404
  register: http_response
  when:
    - testapi_deploy or testapi_configure
- name: Registering the pod
  uri:
    url: '{{ testapi_url }}/pods'
    method: POST
    body: {"name":"{{ project }}"}
    status_code: 200
    body_format: json
  when:
    - testapi_deploy or testapi_configure
    - http_response.status != 200
- name: Checking if project is already registered
  uri:
    url: '{{ testapi_url }}/projects/{{ db_project }}'
    status_code:
      - 200
      - 404
  register: http_response
  when:
    - testapi_deploy or testapi_configure
- name: Registering the project
  uri:
    url: '{{ testapi_url }}/projects'
    method: POST
    body: {"name":"{{ db_project }}"}
    status_code: 200
    body_format: json
  when:
    - testapi_deploy or testapi_configure
    - http_response.status != 200
- name: Checking if testcase is already registered
  uri:
    url: '{{ testapi_url }}/projects/{{ db_project }}/cases/{{ item.1 }}'
    status_code:
      - 200
      - 404
  with_subelements:
    - '{{ suites }}'
    - 'tests'
  register: http_response
  when:
    - testapi_deploy or testapi_configure
- name: Registering the testcases
  uri:
    url: '{{ testapi_url }}/projects/{{ db_project }}/cases'
    method: POST
    body: {"name":"{{ item.item.1 }}"}
    status_code: 200
    body_format: json
  with_items:
    - '{{ http_response.results }}'
  loop_control:
    label: "{{ item.item.1 }}"
  when:
    - testapi_deploy or testapi_configure
    - item.status != 200
