---
cachet:
  api_url: '{{ cachet_url }}'
  token: '{{ cachet_api_key }}'
endpoints:
{% for result in postgres_response.query_result %}
  - name: {{ result.name }}
    url: {{ testapi_url }}/results?case_name={{ result.name }}&last=1{{ cachet_poll_extra_args }}
    method: GET
    expectation:
      - type: REGEX
        regex: "^(?!.*FAIL).*$"
        incident: MAJOR
    allowed_fails: 0
    component_id: {{ result.id }}
    action:
      - UPDATE_STATUS
      - CREATE_INCIDENT
    public_incidents: true
    timeout: {{ cachet_poll_timeout }}
    frequency: {{ cachet_poll_frequency }}
{% endfor %}
