stages:
  - .pre
{% for suite in suites %}
  - {{ suite.container }}
{% endfor %}
  - .post

{% for suite in suites %}
{% for test in suite.tests %}
{{ test }}:
  stage: {{ suite.container }}
  script:
    - sudo docker run --rm
{% if publish_to_s3 == true %}
        -e S3_ENDPOINT_URL={{ s3_endpoint_url }}
        -e S3_DST_URL={{ s3_dst_url }}/${CI_JOB_NAME}-${CI_JOB_ID}
        -e HTTP_DST_URL={{ http_dst_url }}/${CI_JOB_NAME}-${CI_JOB_ID}
        -e AWS_ACCESS_KEY_ID={{ aws_access_key_id }}
        -e AWS_SECRET_ACCESS_KEY={{ aws_secret_access_key }}
{% endif %}
{% if push_to_db == true %}
        -e TEST_DB_URL={{ testapi_url }}/results
        -e TEST_DB_EXT_URL={{ testapi_ext_url }}/results
        -e NODE_NAME={{ project }}
{% endif %}
{% for key, value in docker_args.env.items() |list %}
        -e {{ key }}=${{ key }}
{% endfor %}
{% for volume in docker_args.volumes %}
        -v {{ volume }}
{% endfor %}
        {{ repo }}/{{ suite.container }} run_tests -t {{ test }}
        {% if publish_to_s3 == true %}-p{% endif %}
        {% if push_to_db == true %}-r{% endif %}

{% endfor %}
{% endfor %}
