[Unit]
Description=xtesting@grafana.service

[Service]
User={{ ansible_ssh_user }}
ExecStart=/usr/local/bin/kubectl port-forward service/grafana {{ grafana_port }}:3000 --address 0.0.0.0

[Install]
WantedBy=multi-user.target
