---
jenkins:
  securityRealm:
    local:
      users:
       - id: {{ jenkins_user }}
         password: {{ jenkins_password }}
  authorizationStrategy:
    globalMatrix:
      permissions:
        - "Overall/Administer:{{ jenkins_user }}"
        - "Overall/Read:authenticated"
        - "Overall/Read:anonymous"
