[Unit]
Description=xtesting@mongo.service

[Service]
User={{ ansible_ssh_user }}
ExecStart=/usr/local/bin/kubectl port-forward service/mongo-mongodb {{ mongo_port }}:27017 --address 0.0.0.0

[Install]
WantedBy=multi-user.target
