[Unit]
Description=xtesting@mongo.service

[Service]
User={{ ansible_ssh_user }}
ExecStart=/usr/local/bin/kubectl port-forward service/postgres-postgresql {{ postgres_port }}:5432 --address 0.0.0.0

[Install]
WantedBy=multi-user.target
