---
- {{ project }}-jobs: &{{ project }}-jobs
    name: '{{ project }}-jobs'
    current-parameters: true

- {{ project }}-params: &{{ project }}-params
    name: '{{ project }}-params'
    repo: '{{ repo }}'
    port:{% if dport %} {{ dport }}
{% else %}{{ None }}
{% endif %}
    tag:
{% if docker_tags %}
{% for tag in docker_tags %}
{% for key, value in tag.items() |list %}
      - {{ key }}:
          branch: {{ value.branch }}
{% if use_slave %}
          slave: {{ value.slave | default('master') }}
{% endif %}
{% endfor %}
{% endfor %}

{% else %}
      - latest:
          branch: master
          slave: master
{% endif %}
{% if use_slave %}
- parameter:
    name: {{ project }}-slave
    parameters:
      - label:
          name: slave
          default: '{slave}'
{% endif %}

- parameter:
    name: {{ project }}-branch
    parameters:
      - string:
          name: branch
          default: '{branch}'

{% for key, value in docker_args.env.items() | list %}
- parameter:
    name: {{ project }}-{{ key }}
    parameters:
      - string:
          name: {{ key }}
          default: {{ value }}
{% endfor %}

- {{ project }}-containers: &{{ project }}-containers
    name: '{{ project }}-containers'
    repo: '{repo}'
    port: '{port}'
    container: '{container}'
    tag: '{tag}'

- {{ project }}-run-containers: &{{ project }}-run-containers
    name: '{{ project }}-run-containers'
    <<: *{{ project }}-containers
    test: '{test}'

- builder:
    name: {{ project }}-pull-containers
    builders:
      - shell: |
          set +x
          if [ "{repo}" = "_" ]; then
            image={container}:{tag}
          elif [ "{port}" = "None" ]; then
            image={repo}/{container}:{tag}
          else
            image={repo}:{port}/{container}:{tag}
          fi
          {{ sudo1 }}docker pull $image

- builder:
    name: {{ project }}-run-containers
    builders:
      - shell: |
          set +x
          [ ! -z "$WORKSPACE" ] && {{sudo1 }}rm -rf $WORKSPACE/* || true
          if [ "{repo}" = "_" ]; then
            image={container}:{tag}
          elif [ "{port}" = "None" ]; then
            image={repo}/{container}:{tag}
          else
            image={repo}:{port}/{container}:{tag}
          fi
          {{ sudo1 }}docker run --rm \
            -e S3_ENDPOINT_URL={{ s3_endpoint_url }} \
            -e S3_DST_URL={{ s3_dst_url }}/$JOB_NAME-$BUILD_ID \
            -e HTTP_DST_URL={{ http_dst_url }}/$JOB_NAME-$BUILD_ID \
            -e AWS_ACCESS_KEY_ID={{ aws_access_key_id }} \
            -e AWS_SECRET_ACCESS_KEY={{ aws_secret_access_key }} \
{% if push_to_db == true %}
            -e TEST_DB_URL=http://{{ external_ipaddress }}:{{ testapi_port }}/api/v1/results \
            -e NODE_NAME={{ project }} \
{% endif %}
            -v {{ jenkins_workspace }}/$JOB_NAME/results:/var/lib/xtesting/results \
{% for key, value in docker_args.env.items() |list %}
            -e {{ key }}=${{ key }} \
{% endfor %}
{% for volume in docker_args.volumes %}
            -v {{ volume }} \
{% endfor %}
            $image run_tests -t {test} -p{% if push_to_db == true %} -r
{% else %}

{% endif %}

- builder:
    name: {{ project }}-remove-images
    builders:
      - shell: |
          set +x
          if [ "{repo}" = "_" ]; then
            image={container}:{tag}
          elif [ "{port}" = "None" ]; then
            image={repo}/{container}:{tag}
          else
            image={repo}:{port}/{container}:{tag}
          fi
          {{ sudo1 }}docker rmi $image || true

{% if gerrit %}
- {{ project }}-build-containers: &{{ project }}-build-containers
    name: '{{ project }}-build-containers'
    <<: *{{ project }}-containers
    ref_arg: '{ref_arg}'
    path: '{path}'

- builder:
    name: {{ project }}-build-containers
    builders:
      - shell: |
          set +x
          if [ "{repo}" = "_" ]; then
            image={container}:{tag}
          elif [ "{port}" = "None" ]; then
            image={repo}/{container}:{tag}
          else
            image={repo}:{port}/{container}:{tag}
          fi
          if [ "{ref_arg}" = "None" ]; then
            build_arg=""
          else
            build_arg="--build-arg {ref_arg}={ref}"
          fi
          cd {path}
          {{ sudo1 }}docker build $build_arg \
            --pull=false --no-cache --force-rm=true \
            -t $image .

- scm:
    name: {{ project }}-scm
    scm:
      - git:
          url: https://{{ gerrit }}/gerrit/{{ gerrit_project }}
          refspec: '+refs/changes/*:refs/changes/*'
          branches:
            - '{ref}'
{% endif %}

- job-template:
    name: '{{ project }}-{repo}-{container}-{tag}-pull'
{% if use_slave %}
    parameters:
      - {{ project }}-slave:
          slave: '{slave}'
{% endif %}
    builders:
      - {{ project }}-pull-containers:
          <<: *{{ project }}-containers

{% for suite in suites %}
- project:
    name: '{{ project }}-{{ repo }}-{{ suite.container }}-pull'
    <<: *{{ project }}-params
    container: '{{ suite.container }}'
    jobs:
      - '{{ project }}-{repo}-{container}-{tag}-pull'

{% endfor %}
- job-template:
    name: '{{ project }}-{repo}-{container}-{tag}-rmi'
{% if use_slave %}
    parameters:
      - {{ project }}-slave:
          slave: '{slave}'
{% endif %}
    builders:
      - {{ project }}-remove-images:
          <<: *{{ project }}-containers

{% for suite in suites %}
- project:
    name: '{{ project }}-{{ repo }}-{{ suite.container }}-rmi'
    <<: *{{ project }}-params
    container: '{{ suite.container }}'
    jobs:
      - '{{ project }}-{repo}-{container}-{tag}-rmi'

{% endfor %}
- job-template:
    name: '{{ project }}-{repo}-{container}-{tag}-{test}-run'
    parameters:
{% if use_slave %}
      - {{ project }}-slave:
          slave: '{slave}'
{% endif %}
{% for key, value in docker_args.env.items() |list %}
      - {{ project }}-{{ key }}:
          {{ key }}: {{ value }}
{% endfor %}
    builders:
      - {{ project }}-run-containers:
          <<: *{{ project }}-run-containers

{% for suite in suites %}
- project:
    name: '{{ project }}-{{ repo }}-{{ suite.container }}'
    <<: *{{ project }}-params
    container: '{{ suite.container }}'
    test:
{% for test in suite.tests %}
      - {{ test }}
{% endfor %}
    jobs:
      - '{{ project }}-{repo}-{container}-{tag}-{test}-run'

{% endfor %}
- job-template:
    name: '{{ project }}-{tag}-daily'
    project-type: multijob
{% if triggers %}
    triggers:
{% for trigger in triggers %}
{% for key, value in trigger.items() | list %}
      - {{ key }}: '{{ value}}'
{% endfor %}
{% endfor %}
{% endif %}
    parameters:
{% if use_slave %}
      - {{ project }}-slave:
          slave: '{slave}'
{% endif %}
{% for key, value in docker_args.env.items() | list %}
      - {{ project }}-{{ key }}:
          {{ key }}: {{ value }}
{% endfor %}
    properties:
      - build-blocker:
          use-build-blocker: true
          {{ block_level_key }}: 'NODE'
          blocking-jobs:
            - '^{{ project }}-{tag}-(daily|check|gate)$'
    builders:
      - multijob:
          name: remove former images
          projects:
{% for suite in suites %}
            - name: '{{ project }}-{{ repo }}-{{ suite.container }}-{tag}-rmi'
              <<: *{{ project }}-jobs
{% endfor %}
      - multijob:
          name: pull containers
          projects:
{% for suite in suites %}
            - name: '{{ project }}-{{ repo }}-{{ suite.container }}-{tag}-pull'
              <<: *{{ project }}-jobs
{% endfor %}
{% for suite in suites %}
      - multijob:
          name: {{ repo }}/{{ suite.container }}:{tag}
{% if suite.properties is defined %}
{% for key, value in suite.properties.items() | list %}
          {{ key }}: {{ value}}
{% endfor %}
{% endif %}
          projects:
{% for test in suite.tests %}
            - name: '{{ project }}-{{ repo }}-{{ suite.container }}-{tag}-{{ test }}-run'
              <<: *{{ project }}-jobs
{% endfor %}
{% endfor %}

{% if gerrit %}
- job-template:
    name: '{{ project }}-{repo}-{container}-{tag}-gate'
{% if use_slave %}
    parameters:
      - {{ project }}-slave:
          slave: '{slave}'
{% endif %}
    scm:
      - {{ project }}-scm:
          ref: $GERRIT_REFSPEC
    builders:
      - {{ project }}-build-containers:
          <<: *{{ project }}-build-containers
          ref: $GERRIT_REFSPEC

- job-template:
    name: '{{ project }}-{repo}-{container}-{tag}-check'
    parameters:
{% if use_slave %}
      - {{ project }}-slave:
          slave: '{slave}'
{% endif %}
      - {{ project }}-branch:
          branch: '{branch}'
    scm:
      - {{ project }}-scm:
          ref: $branch
    builders:
      - {{ project }}-build-containers:
          <<: *{{ project }}-build-containers
          ref: $branch

{% for dep in builds.dependencies %}
- project:
    name: '{{ project }}-{{ dep.repo }}-{{ dep.container }}-{{ dep.tag }}-rmi'
    repo:{% if dep.repo %} {{ dep.repo }}
{% else %}{{ None }}
{% endif %}
    port:{% if dep.dport %} {{ dep.dport }}
{% else %}{{ None }}
{% endif %}
    container: {{ dep.container }}
    tag: '{{ dep.tag }}'
{% if use_slave %}
    slave: master
{% endif %}
    jobs:
      - '{{ project }}-{repo}-{container}-{tag}-rmi'

- project:
    name: '{{ project }}-{{ dep.repo }}-{{ dep.container }}-{{ dep.tag }}-pull'
    repo:{% if dep.repo %} {{ dep.repo }}
{% else %}{{ None }}
{% endif %}
    port:{% if dep.dport %} {{ dep.dport }}
{% else %}{{ None }}
{% endif %}
    container: {{ dep.container }}
    tag: '{{ dep.tag }}'
{% if use_slave %}
    slave: master
{% endif %}
    jobs:
      - '{{ project }}-{repo}-{container}-{tag}-pull'

{% endfor %}
{% for step in builds.steps %}
{% for container in step.containers %}
- project:
    name: {{ project }}-{{ repo }}-{{ container.name }}-{tag}-build
    <<: *{{ project }}-params
    container: {{ container.name }}
    ref_arg:{% if container.ref_arg %} {{ container.ref_arg }}
{% else %}{{ None }}
{% endif %}
    path: {{ container.path }}
    jobs:
      - '{{ project }}-{repo}-{container}-{tag}-gate'
      - '{{ project }}-{repo}-{container}-{tag}-check'

{% endfor %}
{% endfor %}
- job-template:
    name: '{{ project }}-{tag}-check'
    project-type: multijob
    parameters:
{% if use_slave %}
      - {{ project }}-slave:
          slave: '{slave}'
{% endif %}
      - {{ project }}-branch:
          branch: '{branch}'
{% for key, value in docker_args.env.items() |list %}
      - {{ project }}-{{ key }}:
          {{ key }}: {{ value }}
{% endfor %}
    properties:
      - build-blocker:
          use-build-blocker: true
          {{ block_level_key }}: 'NODE'
          blocking-jobs:
            - '^{{ project }}-{tag}-(daily|check|gate)$'
    builders:
      - multijob:
          name: remove former images
          projects:
{% for suite in suites %}
            - name: '{{ project }}-{{ repo }}-{{ suite.container }}-{tag}-rmi'
              <<: *{{ project }}-jobs
{% endfor %}
{% for dep in builds.dependencies %}
      - multijob:
          name: remove dependencies
          projects:
            - name: '{{ project }}-{{ dep.repo }}-{{ dep.container }}-{{ dep.tag }}-rmi'
              <<: *{{ project }}-jobs
{% endfor %}
{% for dep in builds.dependencies %}
      - multijob:
          name: pull dependencies
          projects:
            - name: '{{ project }}-{{ dep.repo }}-{{ dep.container }}-{{ dep.tag }}-pull'
              <<: *{{ project }}-jobs
{% endfor %}
{% for step in builds.steps %}
      - multijob:
          name: {{ step.name }}
          projects:
{% for container in step.containers %}
            - name: '{{ project }}-{{ repo }}-{{ container.name }}-{tag}-check'
              <<: *{{ project }}-jobs
{% endfor %}
{% endfor %}
{% for suite in suites %}
      - multijob:
          name: {{ repo }}/{{ suite.container }}:{tag}
{% if suite.properties is defined %}
{% for key, value in suite.properties.items() | list %}
          {{ key }}: {{ value}}
{% endfor %}
{% endif %}
          projects:
{% for test in suite.tests %}
            - name: '{{ project }}-{{ repo }}-{{ suite.container }}-{tag}-{{ test }}-run'
              <<: *{{ project }}-jobs
{% endfor %}
{% endfor %}

- trigger:
    name: {{ project }}-patchset-created
    triggers:
      - gerrit:
          server-name: '{{ gerrit }}'
          trigger-on:
            - patchset-created-event
            - comment-added-contains-event:
                comment-contains-value: 'recheck'
            - comment-added-contains-event:
                comment-contains-value: 'reverify'
          projects:
            - project-compare-type: 'ANT'
              project-pattern: '{{ gerrit_project }}'
              branches:
                - branch-compare-type: 'ANT'
                  branch-pattern: '**/{branch}'
          skip-vote:
            successful: false
            failed: false
            unstable: false
            notbuilt: false

- job-template:
    name: '{{ project }}-{tag}-gate'
    project-type: multijob
    triggers:
      - {{ project }}-patchset-created:
          branch: '{branch}'
    parameters:
{% if use_slave %}
      - {{ project }}-slave:
          slave: '{slave}'
{% endif %}
{% for key, value in docker_args.env.items() | list %}
      - {{ project }}-{{ key }}:
          {{ key }}: {{ value }}
{% endfor %}
    properties:
      - build-blocker:
          use-build-blocker: true
          {{ block_level_key }}: 'NODE'
          blocking-jobs:
            - '^{{ project }}-{tag}-(daily|check|gate)$'
    builders:
      - multijob:
          name: remove former images
          projects:
{% for suite in suites %}
            - name: '{{ project }}-{{ repo }}-{{ suite.container }}-{tag}-rmi'
              <<: *{{ project }}-jobs
{% endfor %}
{% for dep in builds.dependencies %}
      - multijob:
          name: remove dependencies
          projects:
            - name: '{{ project }}-{{ dep.repo }}-{{ dep.container }}-{{ dep.tag }}-rmi'
              <<: *{{ project }}-jobs
{% endfor %}
{% for dep in builds.dependencies %}
      - multijob:
          name: pull dependencies
          projects:
            - name: '{{ project }}-{{ dep.repo }}-{{ dep.container }}-{{ dep.tag }}-pull'
              <<: *{{ project }}-jobs
{% endfor %}
{% for step in builds.steps %}
      - multijob:
          name: {{ step.name }}
          projects:
{% for container in step.containers %}
            - name: '{{ project }}-{{ repo }}-{{ container.name }}-{tag}-gate'
              <<: *{{ project }}-jobs
{% endfor %}
{% endfor %}
{% for suite in suites %}
      - multijob:
          name: {{ repo }}/{{ suite.container }}:{tag}
{% if suite.properties is defined %}
{% for key, value in suite.properties.items() | list %}
          {{ key }}: {{ value}}
{% endfor %}
{% endif %}
          projects:
{% for test in suite.tests %}
            - name: '{{ project }}-{{ repo }}-{{ suite.container }}-{tag}-{{ test }}-run'
              <<: *{{ project }}-jobs
{% endfor %}
{% endfor %}
{% endif %}

- project:
    name: '{{ project }}'
    <<: *{{ project }}-params
    jobs:
      - '{{ project }}-{tag}-daily'
{% if gerrit %}
      - '{{ project }}-{tag}-check'
      - '{{ project }}-{tag}-gate'
{% endif %}

- view:
    name: {{ project }}
    view-type: list
    columns:
      - status
      - weather
      - job
      - last-success
      - last-failure
      - last-duration
    regex: ^{{ project }}-[a-z]+-(daily|check|gate)$
